/***********************************

Matthew Brennan Web Development Skills Test
- CSS has been coded to support the following browsers; FireFox, Chrome, Safari, IE9+
- Legacy Cross browser support has been omitted for the sake of demonstrations time frame

Given more time, obviously this example would work with the following browser support;
ie7, ie8, FireFox (mac + pc), Chrome (mac + pc), Safari (mac + pc). Please not that legacy browser support has been left out on purpose.

The focus of this skills assessment has been to showcase modern HTML and CSS techniques while still being mindful of obvious 
'box model' issues, hence the explicit use of 'inner containers'.

Standard Module Format has been used throughout this example to demonstrate proper semantic markup which yeilds - performance, SEO and accessibility benefits.


Typography Note: Myrid Pro - the font used within the PSD provided, does not exist on Google WebFonts, therefore a substitute has been used.
This may result in a slightly different look to the original PSD as well as some slight font/type spacing issues inherited from the substitute font.

/************************************/





/***********************************

Global reset
Contains:
- reseting / font normalising
- float clearing class

/************************************/

/*
Copyright (c) 2011, Yahoo! Inc. All rights reserved.
Code licensed under the BSD License:
http://developer.yahoo.com/yui/license.html
version: 2.9.0
*/
@charset "UTF-8";
html{color:#000;background:#FFF}body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,button,textarea,select,p,blockquote,th,td{margin:0;padding:0}table{border-collapse:collapse;border-spacing:0}fieldset,img{border:0}address,button,caption,cite,code,dfn,em,input,optgroup,option,select,strong,textarea,th,var{font:inherit}del,ins{text-decoration:none}li{list-style:none}caption,th{text-align:left}h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal}q:before,q:after{content:''}abbr,acronym{border:0;font-variant:normal}legend{color:#000}body{font:13px/1.231 arial,helvetica,clean,sans-serif;*font-size:small;*font:x-small}select,input,textarea,button{font:99% arial,helvetica,clean,sans-serif}table{font-size:inherit;font:100%}pre,code,kbd,samp,tt{font-family:monospace;*font-size:108%;line-height:100%}

/*float clearing class*/
.clearfix:after{content:"";display:block;height:0;line-height:0px;clear:both;visibility:hidden;overflow:hidden}
.clearfix{zoom:1;}


/***********************************

Global Styling
Contains:
- layout and page structure
- page and module styling


Notes: 
- Standard Module Format (SMF) has been used (considerations for SEO / Accessibility)
- #pg is shortcut for Property Guru
- Footer is not used, this would ideally be filled with more page contents. 

/************************************/



html, body{
	text-align:center;
	background-color:#f2f2f2
}

#pg{
	width:940px;
	text-align:left;
	margin:100px auto; /* just a bit of space for demo purposes */
	color:#000;
	
	/*font-family: 'Droid Sans', sans-serif;*/
	font-family: 'myriad pro', sans-serif;
}

/* global styles*/
#pg .pg-btn{}

#pg .pg-btn.pg-btn-red{	
	box-shadow:0px 0px 1px 4px #d5d5d5;	
	background-color:#eb1212;
	background-image: -moz-linear-gradient(#eb1212 0%,#c30000 100%);
	background-image: -webkit-gradient(linear,top, bottom,color-stop(0, #eb1212),color-stop(1, #c30000));
	background: -webkit-linear-gradient(#eb1212 0%, #c30000 100%);
	background: -ms-linear-gradient(#eb1212 0%, #c30000 100%);
	background: linear-gradient(to bottom, #eb1212 0%, #c30000 100%);
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#eb1212', endColorstr='#c30000')";
	border-radius:5px;
	border:1px solid #ab0404;
	display:inline-block;
	color:#fffefe;	
	font-size:21px;
	font-weight:600;
	padding:0px 15px;
	text-decoration:none;
	text-shadow:0px -1px 0px #b10a0a;
	clear:both;
	line-height:45px;
}

#pg .pg-btn.pg-btn-red:hover {	
	background-image: -moz-linear-gradient(#c30000 0%,#eb1212 100%);
	background-image: -webkit-gradient(linear,top, bottom,color-stop(0, #c30000),color-stop(1, #eb1212));
	background: -webkit-linear-gradient(#c30000 0%, #eb1212 100%);
	background: -ms-linear-gradient(#c30000 0%, #eb1212 100%);
	background:linear-gradient(to bottom, #c30000 0%, #eb1212 100% );
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#c30000', endColorstr='#eb1212')";
	background-color:#c30000;
}

#pg .pg-btn.pg-btn-red:active {
	position:relative;
	top:1px;
}


/* Site SMF hd - bd - ft */
#pg .pg-hd{}

/* Device Hero Module */
#pg .pg-hd .pg-mod-hero{	
	border-radius:7px;
	border:solid 1px #ddd;
	padding:2px 2px 1px 2px;
	background-color:#fff;
	box-shadow:0px 1px 0px 0px rgba(153,153,153,1);
	margin:33px 0px;
}

#pg .pg-hd .pg-mod-hero .mod-inner{
	padding:0px;	
	min-height:380px;
	background: #eeeeee;	
	/* cross browser gradient example*/
	background-image: -moz-linear-gradient(left top,#eeeeee 0%,#FFFFFF 60%);
	background-image: -webkit-gradient(linear,left top, left bottom,color-stop(0, #eeeeee),color-stop(0.6, #FFFFFF));
	background: -webkit-linear-gradient(left top, #eeeeee 0%, #ffffff 60%);
	background: -ms-linear-gradient(left top, #eeeeee 0%, #ffffff 60%);
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#eeeeee', endColorstr='#FFFFFF')";	
	/* Standards complient example */
	background: linear-gradient(to bottom right, #eeeeee 0%, #ffffff 60%);		
	position:relative;
	
}

#pg .pg-hd .pg-mod-hero .mod-hd{
	float:left;
	width:430px;
	margin:60px 0px 0px 60px;
}


#pg .pg-hd .pg-mod-hero .mod-hd h2{
	font-size:50px;
	font-weight:bold;	
	line-height:50px;
	margin-bottom:30px;
}

#pg .pg-hd .pg-mod-hero .mod-hd h2 span{
	font-size:32px;
	display:block;
	line-height:30px;
}

#pg .pg-hd .pg-mod-hero .mod-hd p{
	font-size:16px;
	margin-bottom:35px;
}

#pg .pg-hd .pg-mod-hero .mod-hd .pg-btn{}

#pg .pg-hd .pg-mod-hero .mod-hd cite{
	display:block;
	color:#737373;
	font-size:10px;
	margin-top:10px;
}

#pg .pg-hd .pg-mod-hero .mod-bd{
	position:absolute;
	right:120px;
	bottom:-20px;
	z-index:2;
}

#pg .pg-hd .pg-mod-hero .mod-bd ul{}

#pg .pg-hd .pg-mod-hero .mod-bd ul li.mod-hero-device{
	display:none;
}

#pg .pg-hd .pg-mod-hero .mod-bd ul li.mod-hero-device-on{
	display:block;
}

#pg .pg-hd .pg-mod-hero .mod-bd ul li.mod-hero-device img{}


#pg .pg-hd .pg-mod-hero .mod-ft{
	position:absolute;
	bottom:10px;
	right:10px;
}

#pg .pg-hd .pg-mod-hero .mod-ft ul{}

#pg .pg-hd .pg-mod-hero .mod-ft ul li{
	display:block;
	margin-top:6px;
}

#pg .pg-hd .pg-mod-hero .mod-ft ul li a{
	display:block;
	background-image:url(img/pg_store_sprite.png);
	line-height:38px;
	width:113px;
	background-repeat:no-repeat;
	text
}

#pg .pg-hd .pg-mod-hero .mod-ft ul li.mod-hero-dl-btns-ios a{
	background-position:0px 0px;
}

#pg .pg-hd .pg-mod-hero .mod-ft ul li.mod-hero-dl-btns-droid a{
	background-position:0px -38px;
}

#pg .pg-hd .pg-mod-hero .mod-ft ul li a span{
	display:block;
	text-indent:-9999px;
}


#pg .pg-bd{}

#pg .pg-bd .pg-mod-tiles{
	margin-top:66px;
}

#pg .pg-bd .pg-mod-tiles ul{
	background-image:url(img/pg_step_strap.png);
	background-repeat:no-repeat;
	background-position:0px -8px;
	padding:0px 2px;

	
}

#pg .pg-bd .pg-mod-tiles ul li.mod-tile{
	float:left;
	width:302px;
	margin-right:15px;	
}

#pg .pg-bd .pg-mod-tiles ul li.mod-tile:last-child{
	float:right;
	margin:0px;
}

#pg .pg-bd .pg-mod-tiles ul li.mod-tile .mod-tile-inner{
	padding:50px 15px 15px 15px;
	border-radius:7px;
	border:solid 1px #ddd;
	background-color:#fff;
	min-height:163px;
	position:relative;
	text-align:center;
	box-shadow:0px 1px 0px 0px #999999;
}

#pg .pg-bd .pg-mod-tiles ul li.mod-tile strong{
	background-image:url(img/pg_step_strap.png);
	background-repeat:no-repeat;
	display:block;
	height:74px;
	position:absolute;	
	width:315.33px;
	z-index:2;	
	top:-35px;
	left:-5px;
	font-size:24px;
	font-weight:bold;
	color:#2cacdb;
	text-indent:-6px;
	text-shadow:0px 1px 0px #fff;
	
}

#pg .pg-bd .pg-mod-tiles ul li.mod-tile strong span{
	display:block;
	font-family:Arial, Helvetica, sans-serif;
	font-size:32px;
	font-weight:bold;
	color:#fff;
	text-shadow:1px 1px 0px #000;
}

#pg .pg-bd .pg-mod-tiles ul li.mod-tile:first-child strong{
	background-position:0px 26px;
	left:-5px;
}

#pg .pg-bd .pg-mod-tiles ul li.mod-tile:nth-child(2) strong{
	background-position:50% 26px;
	text-indent:-13px; /* adjusted for the margin difference */
}


#pg .pg-bd .pg-mod-tiles ul li.mod-tile:last-child strong{
	background-position:100% 26px;
	left:-7px;
}


/* adjusting the text indent to line up the steps. This means all code is semantic and gives good accessibility and SEO advantages*/
#pg .pg-bd .pg-mod-tiles ul li.mod-tile:first-child strong span{
	text-indent:-9px;
}

#pg .pg-bd .pg-mod-tiles ul li.mod-tile:nth-child(2) strong span{
	text-indent:-15px;
}

#pg .pg-bd .pg-mod-tiles ul li.mod-tile:last-child strong span{
	text-indent:-11px;
}



/* tile styling */
#pg .pg-bd .pg-mod-tiles ul li.mod-tile h3{
	font-size:21px;
	font-weight:600;
	margin-bottom:15px;
	min-height:45px;
}

#pg .pg-bd .pg-mod-tiles ul li.mod-til p{
	font-size:16px;
	font-weight:normal;
}


/* empty on purpose, this would simply contain more markup for the footer of the page. Just keeping things uniform :) */
#pg .pg-ft{}



